logic_app/TransferFunctionManual.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "method": "GET",
          "schema": {}
        }
      }
    },
    "actions": {
      "Create_CSV_table": {
        "type": "Table",
        "inputs": {
          "from": "@body('Select')",
          "format": "CSV"
        },
        "runAfter": {
          "Select": [
            "Succeeded"
          ]
        }
      },
      "Create_blob_2": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "post",
          "body": "@body('Create_CSV_table')",
          "path": "/datasets/default/files",
          "queries": {
            "folderPath": "lcm-file-blobs",
            "name": "metadata.csv",
            "queryParametersSingleEncoded": true
          }
        },
        "runAfter": {
          "Create_CSV_table": [
            "Succeeded"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        }
      },
      "For_each": {
        "type": "Foreach",
        "foreach": "@body('List_folder')",
        "actions": {
          "Condition": {
            "type": "If",
            "expression": {
              "and": [
                {
                  "equals": [
                    "@items('For_each')?['IsFolder']",
                    "@true"
                  ]
                }
              ]
            },
            "actions": {
              "For_each_2": {
                "type": "Foreach",
                "foreach": "@body('List_folder_2')",
                "actions": {
                  "Condition_2": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "contains": [
                            "@items('For_each_2')?['DisplayName']",
                            "PSD"
                          ]
                        },
                        {
                          "equals": [
                            "@items('For_each_2')?['IsFolder']",
                            true
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "For_each_3": {
                        "type": "Foreach",
                        "foreach": "@body('List_folder_3')",
                        "actions": {
                          "Create_blob": {
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "connection": {
                                  "name": "@parameters('$connections')['azureblob']['connectionId']"
                                }
                              },
                              "method": "post",
                              "body": "@body('Get_file_content')",
                              "path": "/datasets/default/files",
                              "queries": {
                                "folderPath": "/lcm-file-blobs",
                                "name": "@items('For_each_3')?['Name']",
                                "queryParametersSingleEncoded": true
                              }
                            },
                            "runAfter": {
                              "Get_file_content": [
                                "Succeeded"
                              ]
                            },
                            "runtimeConfiguration": {
                              "contentTransfer": {
                                "transferMode": "Chunked"
                              }
                            }
                          },
                          "Get_file_content": {
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "connection": {
                                  "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                }
                              },
                              "method": "get",
                              "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://statoilsrm.sharepoint.com/sites/LCMlibrary'))}/files/@{encodeURIComponent(items('For_each_3')?['Id'])}/content",
                              "queries": {
                                "inferContentType": true
                              }
                            }
                          }
                        },
                        "runAfter": {
                          "List_folder_3": [
                            "Succeeded"
                          ]
                        }
                      },
                      "List_folder_3": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                            }
                          },
                          "method": "get",
                          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://statoilsrm.sharepoint.com/sites/LCMlibrary'))}/folders/@{encodeURIComponent(items('For_each_2')?['Id'])}"
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    }
                  }
                },
                "runAfter": {
                  "List_folder_2": [
                    "Succeeded"
                  ]
                }
              },
              "List_folder_2": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                    }
                  },
                  "method": "get",
                  "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://statoilsrm.sharepoint.com/sites/LCMlibrary'))}/folders/@{encodeURIComponent(items('For_each')?['Id'])}"
                }
              }
            },
            "else": {
              "actions": {}
            }
          }
        },
        "runAfter": {
          "List_folder": [
            "Succeeded"
          ]
        }
      },
      "Get_items": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://statoilsrm.sharepoint.com/sites/LCMlibrary'))}/tables/@{encodeURIComponent(encodeURIComponent('4b076d8d-381c-41cf-b63c-5e7d55acb991'))}/items"
        },
        "runAfter": {}
      },
      "List_folder": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://statoilsrm.sharepoint.com/sites/LCMlibrary'))}/folders/@{encodeURIComponent('%252fShared%2bDocuments')}"
        },
        "runAfter": {},
        "metadata": {
          "%252fShared%2bDocuments": "/Shared Documents"
        }
      },
      "Select": {
        "type": "Select",
        "inputs": {
          "from": "@body('Get_items')?['value']",
          "select": {
            "co2": "@item()?['OData__x0043_O2']",
            "cost": "@item()?['Cost']",
            "environmental": "@item()?['Enviromental_x0020_Impact']",
            "sack_size": "@item()?['Sack_x0020_Size']",
            "supplier": "@item()?['Supplier']?['Value']",
            "title": "@item()?['Title']"
          }
        },
        "runAfter": {
          "Get_items": [
            "Succeeded"
          ]
        }
      }
    },
    "outputs": {},
    "parameters": {
      "$connections": {
        "type": "Object",
        "defaultValue": {}
      }
    }
  },
  "parameters": {
    "$connections": {
      "type": "Object",
      "value": {
        "azureblob": {
          "id": "/subscriptions/0a78ee8b-9e26-4088-9f6d-8de5fc5cd0ae/providers/Microsoft.Web/locations/northeurope/managedApis/azureblob",
          "connectionId": "/subscriptions/0a78ee8b-9e26-4088-9f6d-8de5fc5cd0ae/resourceGroups/lcm-dev/providers/Microsoft.Web/connections/azureblob",
          "connectionName": "azureblob"
        },
        "sharepointonline": {
          "id": "/subscriptions/0a78ee8b-9e26-4088-9f6d-8de5fc5cd0ae/providers/Microsoft.Web/locations/northeurope/managedApis/sharepointonline",
          "connectionId": "/subscriptions/0a78ee8b-9e26-4088-9f6d-8de5fc5cd0ae/resourceGroups/lcm-dev/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline"
        }
      }
    }
  }
}